bin/App.class
bin/board/Board.class
bin/board/Board$Builder.class
bin/board/BoardUtils.class
bin/board/Move.class
bin/board/Move$AttackMove.class
bin/board/Move$MajorMove.class
bin/board/Tile.class
bin/board/Tile$EmptyTile.class
bin/board/Tile$OccupiedTile.class
bin/pieces/Alliance.class
bin/pieces/Alliance$1.class
bin/pieces/Alliance$2.class
bin/pieces/Bishop.class
bin/pieces/King.class
bin/pieces/Knight.class
bin/pieces/Pawn.class
bin/pieces/Piece.class
bin/pieces/Piece$PieceType.class
bin/pieces/Queen.class
bin/pieces/Rook.class
